.active {
    color: white;
}

.Banner {
    background-color: gray;
}

html,
body {
    background-color: darkgray;
}

.Leftbar {
    background-color: black;
}

.right-bar {
    background-color: black;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
}

.Item:hover {
    color: #E60000;
    cursor: pointer;
    fill: #E60000;
}

select {
    border: 1px solid white;
    background: url(./res/arrow-down.svg) no-repeat right black;
    background-origin: content-box;
}

.search {
    background: url(./res/search.svg) no-repeat right black;
    background-origin: content-box;
}

.cta-btn {
    background-color: #E60000;
    color: white;
}

input[type=text] {
    border: 1px solid #CCCCCC;
}

input[type=text]:focus {
    border: 1px solid #CCCCCC;
}

.user-role {
    color: #7E7E7E;
}

.card {
    background-color: white;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
}